* {
  font-family: montserrat, sans-serif;
}

table, tr, td {
  border: 1px solid gray;
}

h1 {
  color: darkgray;
  text-align: center;
  font-family: montserrat, sans-serif;
} 

thead {
  background-color: yellow;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.link {
  font-style: italic;
}
